<div>
  <h4>店舗一覧</h4>
  <div>
    <div>
      <%= search_form_for @search, url: stores_path do |f| %>
      <li>
      <%= f.label :name, "店舗名" %>
      <%= f.search_field :name_cont %>
      </li>
      <li>
      <%= f.label :area, "地域(都道府県)" %>
      <%= f.search_field :area_cont %>
      </li>
      <p>
        <%= f.submit "検索" %>
      </p>
      <% end %>
    </div>
    <table>
      <tr>
      <% @stores_search.each do |store| %>
        <td>
          <% if store.store_images.present? %>
            <% store.store_images.first(1).each do |image| %>
            <%= attachment_image_tag image, :image, :fill, 150, 200 %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to store_path(store.id) do %>
          <%= store.name%>
          <% end %>
        <td>
        <td>
          <% Scene.all.each do |scene| %>
            <% if store.reviews.joins(:scenes).exists?(scenes: { id:  scene.id} ) %>
              <%= scene.name %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% Atmosphere.all.each do |atmosphere| %>
            <% if store.reviews.joins(:atmospheres).exists?(atmospheres: { id:  atmosphere.id} ) %>
              <%= atmosphere.name %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% store.genres.each do |genre| %>
            <%= genre.name %>
          <% end %>
        </td>
        <td>
          <%= store.area %>
        </td>
      <% end %>
      </tr>
    </table>
  </div>
  <div style="margin-left: 450px; margin-top: 50px;">
    <%= paginate @stores %>
  </div>
</div>