<div class="container">
  <p class="h4" style="margin: 50px;">店舗詳細</p>
  <div style="display: inline-block; margin-left: 100px;">
    <% @store.store_images.each do |image| %>
      <%= attachment_image_tag image, :image, :fill, 150, 200 %>
    <% end %>
  </div>

  <table style="display: inline-block; margin-left: 20px;">
    <tr>
      <td style="display: inline-block; height: 50px;" class="font-weight-bold">ジャンル</td>
      <td style="display: inline-block; height: 50px; margin-left: 44px;">
        <% @store.genres.each do |genre| %>
          <%= genre.name %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td style="display: inline-block; height: 50px;" class="font-weight-bold">地域</td>
      <td style="display: inline-block; height: 50px; margin-left: 44px;"><%= @store.area %></td>
    </tr>
    <tr>
      <td style="display: inline-block; height: 50px;" class="font-weight-bold">店舗名</td>
      <td style="display: inline-block; height: 50px; margin-left: 44px;"><%= @store.name %></td>
    </tr>
    <tr>
      <td style="display: inline-block; height: 50px;" class="font-weight-bold">店舗詳細</td>
      <td style="display: inline-block; height: 50px; margin-left: 30px;"><%= @store.explanation %></td>
    </tr>
  </table>
  <p><%= link_to "新規レビュー" , new_review_path(store_id: @store.id) %></p>
  <% @reviews.each do |review| %>
  <%= link_to review_path(review) do %>
  <table>
    <td>
      <% review.review_images.each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 150, 150 %>
      <% end %>
    </td>
    <td><%= review.title %></td>
    <td>
      <% review.scenes.each do |scene| %>
        <%= scene.name %>
      <% end %>
    </td>
    <td>
      <% review.atmospheres.each do |atmosphere| %>
        <%= atmosphere.name %>
      <% end %>
    </td>
    <td><%= review.text %></td>
  </table>
  <% end %>
  <% end %>
  <div style="margin-left: 450px; margin-top: 50px;">
    <%= paginate @reviews %>
  </div>
</div>

