<div>
  <h4>店舗一覧</h4>
  <p class="text-right"><%= link_to"新規登録", new_admin_store_path, class: "btn btn-success" %></p>
  <div class="store_explanation">
    <h3>詳細検索</h3>
    <%= search_form_for @search, url:  admin_stores_path do |f| %>
    <p>
      <%= f.label :name, "店舗名" %>
      <%= f.search_field :name_cont %>
    </p>
    <P>
      <%= f.label :area, "地域(都道府県)" %>
      <%= f.search_field :area_cont %>
    </P>
    <p>
      <%= f.submit "検索" %>
    </p>
    <% end %>
    <table style="margin-top: 30px; width: -webkit-fill-available;;">
      <tr class="border-top border-bottom">
        <th>店舗ID</th>
        <th>店舗画像</th>
        <th>店舗名</th>
      </tr>
    </table>
    <% @store_search.each do |store| %>
    <%# @stores.each do |store| %>
    <table style="margin-top: 30px; width: -webkit-fill-available;;">
      <tr class="border-top border-bottom">
        <td><%= store.id %></td>
        <td>
          <% if store.store_images.present? %>
            <% store.store_images.first(1).each do |image| %>
            <%= attachment_image_tag image, :image, :fill, 150, 200 %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to admin_store_path(store.id) do %>
          <%= store.name %>
          <% end %>
          </td>
      </tr>
      <% end %>
    </table>
  </div>
  <div style="margin-left: 450px; margin-top: 50px;">
    <%= paginate @stores %>
  </div>
</div>
