<div>
  <p class="h4">店舗新規登録</p>
  <% if @store.errors.any? %>
  <%= @store.errors.count %>件のエラーが発生しました
    <% @store.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
  <%= form_with model: @store,url: admin_stores_path, local:true do |f| %>
  <div>
    <div>
      <p><%= f.label :store_images_images, '店舗画像(複数登録可)' %></p>
      <p><%= f.attachment_field :store_images_images, multiple: true  %></p>
    </div>
    <div>
      <p><%= f.label :area, "地域(都道府県)" %></p>
      <p><%= f.text_field :area %></p>
    </div>
    <div>
      <p><%= f.label :genre, "ジャンル" %></p>
      <p>
        <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |genre| %>
          <%= genre.label do %>
            <%= genre.check_box %>
            <%= genre.text %>
          <% end %>
        <% end %>
      </p>
    </div>
    <div>
      <p><%= f.label :name, "店舗名" %></p>
      <p><%= f.text_field :name %></p><br>
    </div>
    <div>
      <p><%= f.label :explanation, "店舗説明" %></p>
      <p><%= f.text_area :explanation %></p><br>
    </div>
    <div>
      <%= f.submit '新規投稿' , class: "btn btn-success" %>
    </div>
    <% end %>
  </div>
</div>