<div class="container">
  <p class="h4" style="margin-top: 50px; margin-left: 100px; margin-bottom: 50px;">レビュー編集</p>
  <% if @review.errors.any? %>
  <%= @review.errors.count %>件のエラーが発生しました
    <% @review.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>

  <%= form_with model: @review, url: review_path(@review.id), local:true do |f| %>
  <div style="display: inline-block; margin-left: 250px;">
    <div clas="col">
      <p style="display: inline-block;" class=" font-weight-bold ">タイトル</p>
      <p style="display: inline-block; margin-left: 65px;"><%= f.text_field :title %></p><br>
    </div>
    <div clas="col">
      <p  style="display: inline-block;" class="font-weight-bold">画像</p>
      <p  style="display: inline-block; margin-left: 50px;">
      <%= f.attachment_field :review_images_images, multiple: true %>
      </p>
    </div>
    <div>
     <%= f.collection_check_boxes(:scene_ids, Scene.all, :id, :name) do |scene| %>
          <%= scene.label do %>
            <%= scene.check_box %>
            <%= scene.text %>
          <% end %>
        <% end %>
    </div>
    <div>
      <%= f.collection_check_boxes(:atmosphere_ids, Atmosphere.all, :id, :name) do |atmosphere| %>
        <%= atmosphere.label do %>
          <%= atmosphere.check_box %>
          <%= atmosphere.text %>
        <% end %>
      <% end %>
    </div>
    <div clas="col">
      <p style="display: inline-block;" class=" font-weight-bold ">レビュー内容</p>
      <p style="display: inline-block; margin-left: 65px;"><%= f.text_field :text %></p><br>
    </div>
      <%= f.submit '変更を保存' , class: "btn btn-success" %>
    </div>
  <% end %>
  <div> <%= link_to "削除", review_path(@review), method: :delete %></div>
</div>
