<div>
  <div>
    <h2>レビュー新規投稿</h2>
  </div>
  <%= form_with model: @review, url: reviews_path, local:true do |f| %>
  <%= f.hidden_field :store_id, value: @store.id %>
  <div>
    <div>
      <P><%= f.label :title, "タイトル" %></P>
      <P><%= f.text_field :title %></P>
    </div>
    <div>
      <P><%= f.label :review_images_images, "投稿画像(複数可)"%></P>
      <P><%= f.attachment_field :review_images_images, multiple: true %></P>
    </div>
     <div>
      <p><%= f.label :review_atmosphere_name,"お店の利用シーン"%></p>
      <p>
        <%= f.collection_check_boxes(:scene_ids, Scene.all, :id, :name) do |scene| %>
          <%= scene.label do %>
            <%= scene.check_box %>
            <%= scene.text %>
          <% end %>
        <% end %>
      </p>
    </div>
    <div>
      <p><%= f.label :review_atmosphere_name,"お店の雰囲気"%></p>
      <p>
        <%= f.collection_check_boxes(:atmosphere_ids, Atmosphere.all, :id, :name) do |atmosphere| %>
          <%= atmosphere.label do %>
            <%= atmosphere.check_box %>
            <%= atmosphere.text %>
          <% end %>
        <% end %>
      </p>
    </div>
    <div>
      <P><%= f.label :text, "レビュー"%></P>
      <P><%= f.text_field :text %></P>
    </div>
  </div>
  <div>
    <%= f.submit '新規投稿' , class: "btn btn-success" %>
  </div>
  <% end %>
</div>
