<div class="container">
  <b style="margin-left: 100px; margin-top: 100px; font-size: xx-large;">会員一覧</b>
  <div>
    <table style="margin-top: 30px; width: -webkit-fill-available;;">
      <tr class="border-top border-bottom">
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>会員ステータス</th>
      </tr>
      <% @users.each do |user| %>
      <tr style="height: 50px; text-underline: auto;">
        <td><%= user.id %></td>
        <td>
          <%= link_to admin_user_path(user.id) do %>
          <%= user.first_name + user.last_name %>
          <% end %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <% if user.is_active %>
        <td  class="font-weight-bold" style="color: #28a745;">有効</td>
        <% else %>
        <td  class="font-weight-bold" style="color: #dc3545;">退会</td>
        <% end %>
      </tr>
      <% end %>
    </table>
    <div style="margin-left: 450px; margin-top: 50px;">
     <%= paginate @users %>
    </div>
  </div>
</div>