<!DOCTYPE html>
<html>
  <head>
    <title>Yummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="head">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FCBC3D;">
      <a class="navbar-brand" href="/", style="font-family: HGP行書体;"><h2>Yummy</h2></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ">
          <% if user_signed_in? %>
          <% if current_user.email == "guest2@example.com" %>
          <% else%>
          <li class="nav-item active mr-2 mb-2">
            <%= link_to "マイページ", my_page_path, class: "btn btn-success" %>
          </li>
          <% end %>
          <li class="nav-item active mr-2 mb-2">
            <%= link_to "店舗一覧", stores_path, class: "btn btn-primary" %>
          </li>
          <li class="nav-item active mr-2 mb-2">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
          </li>
          <% elsif admin_signed_in? %>
          <li class="nav-item active mr-2 mb-2">
            <%= link_to "店舗一覧", admin_stores_path, class: "btn btn-primary" %>
          </li>
          <li class="nav-item active mr-2 mb-2">
            <%= link_to "顧客一覧", admin_users_path, class: "btn btn-secondary" %>
          </li>
          <li class="nav-item active mr-2 mb-2">
           <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-danger" %>
          </li>
          <% else %>
          <li class="nav-item active mr-2 mb-2">
            <%= link_to "新規登録", new_user_registration_path, class: "btn btn-info" %>
          </li>
          <li class="nav-item active mr-2 mb-2">
            <%= link_to "ログイン", new_user_session_path, class: "btn btn-success" %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </header>
  <footer class="footer" style="background-color: beige; width:100%; height: 50px;">
  </footer>
</html>
